<md-content>
    <!-- <div flex-xs flex-gt-xs="50" layout="column"> -->
    <!-- show material design loader -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>
          <span>Flickr Photo Search</span>
        </h3>
      </div>
    </md-toolbar>
    <br />
    <md-input-container>
      <input id="flickr-search" placeholder="Search by tag or comma separated tags..." ng-model="tag"></input>
      <md-button type="button" class="md-raised" id="flickr-search-button" ng-click="search(tag)">Search</md-button>
    <md-input-container>
    <div class='md-padding' layout="row" layout-wrap>
        <md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>
        <md-card style="width: 350px;" ng-show="!loading" ng-repeat="photo in photos">
            <md-card-title style="width: 300px;">
                <md-card-title-text style="text-align: center;" md-head>
                    {{photo.title}}
                </md-card-title-text>
            </md-card-title>
            <md-card-content style="text-align: center;">
                <img ng-src="{{photo.media.m}}" class="md-card-image">
            </md-card-content>
        </md-card>
    </div>
</md-content>
